<%= "#{step.keyword} #{step.name}" %>
<% if step.has_table? %>
	<br />
	<table border="1" class="param_table">
		<% step.table.each do |row| %>
			<tr>
				<% row.each_with_index do |column, index| %>
				<% if index == 0 %>
					<th><%= column %></th>
				<% else %>	
					<td><%= column %></td>
				<% end %>		
				<% end %>
			</tr>
		<% end %>
	</table>
<% end %>
<% if step.has_multiline_arg? %>
	<br />
	<table border="1" class="multiline_arg">
		<tr>
		 <td><pre><%= step.multiline_arg %></pre></td>
		</tr>
	</table>
<% end %>
<% if step.failed_with_error? %>
		<table>
			<tr class="error">
				<td class="message">
					<strong><pre><%= "#{step.error.message} (#{step.error.class})" %></pre></strong>
				</td>
			</tr>
			<tr>
				<td>
					<%= raw(step.extra_failure_content(step.error.backtrace)) %>
				</td>
			</tr>
			<tr >
				<td class="detail">
					<pre><%= step.error.backtrace.join("\n") %></pre>
				</td>
			</tr>
		</table>
<% end %>